body{
    background-image: url("fachada2.jpg")
}
h1{
    background-color: rgba(127, 255, 212, 0.254);
    border-radius: 25px;
    margin: auto;
    width: 90%;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: xx-large;

}
.menu{
    text-align: center;
    list-style: none;
    background-color: rgba(127, 255, 212, 0.254);
    border-radius: 25px;
    margin: auto;
    width: 90%;
    padding: 0px;
    font-size: 130%;
    font-weight: bold;
    font-family: 'Segoe UI';
   
}
.menu li a{
    text-decoration: none;
    color:rgb(15, 15, 14);
    padding: 20px;
    display: block;


}
.menu li{
    display: inline-block;
}
.menu li a:hover{
    background-color: rgba(41, 61, 41, 0.642);
}

#terminos{
    text-align: left;
    list-style: none;
    background-color: rgba(127, 255, 212, 0.438);
    border-radius: 25px;
    margin:8px 90px;
    width: 89%;
    padding: 10px;
    font-size: 132%;
    font-weight: bold;
    font-family: 'Segoe UI';
}
#vision{
    text-align: left;
    list-style: none;
    background-color: rgba(127, 255, 212, 0.254);
    border-radius: 25px;
    padding: 0;
    margin: auto;
    width: 90%;
    padding: 10px;
    font-size: 132%;
    font-family: 'Segoe UI';
    
}
#mision{
    text-align: left;
    list-style: none;
    background-color: rgba(127, 255, 212, 0.254);
    border-radius: 25px;
    margin: auto;
    width: 90%;
    padding: 10px;
    font-size: 132%;
    font-family: 'Segoe UI';
    
}


